/* ---------------------------------------------------------------------------------------------- */
/* -----| GENERAL |------------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------------------------------- */

body {
    padding: 70px 0 0;
	background-color:#333;
}
body a {
	color:#8080FF;
}
body hr {
	border-color:#222;
}
body.breadcrumb-fixed {
    padding-top: 56px;
}

.container {
    max-width: 960px;
}


/* -------------------------------------------------------------------------- */
/* -----| HEADER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
#page-navbar.navbar-default {
	background-color:#363636;
	border-color:#222;
}
#page-navbar .navbar-text {
	color#999;
    display: block;
    float: left;
    font-family: 'Cutive Mono', monospace, serif;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* ---------------------------------------------------------------------------------------------- */
/* -----| DIRECTORY LISTER |--------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
#directory-listing li a {
	-webkit-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
	-moz-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
	-o-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
	transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0; 
}
#directory-listing li a:hover {
	background:#222;
	color:#ECECEC;
}
#directory-list-header {
    font-family: 'Cutive Mono', monospace, serif;
    font-weight: bold;
    padding: 10px 15px;
}

#directory-listing {
    font-family: 'Cutive Mono', monospace, serif;
}

#directory-listing li {
    position: relative;
}

.file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-name i {
    color: #555;
}
.file-info-button {
    display: inline-block;
    cursor: pointer;
    margin-left: 100%;
    padding: 6px 10px !important;
    position: absolute !important;
    top: 4px;
}

.file-info-button i {
    color: #999;
}
.info-square {
	padding: 6px 10px !important;
} 

/* ---------------------------------------------------------------------------------------------- */
/* -----| FOOTER |------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

.footer {
    margin: 20px;
    text-align: center;
}


/* ---------------------------------------------------------------------------------------------- */
/* -----| CHECKSUM MODAL |----------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

#file-info {
    margin: 0;
}

#file-info .table-title {
    font-weight: bold;
    text-align: right;
}

#file-info .md5-hash,
#file-info .sha1-hash {
    font-family: 'Cutive Mono', monospace, serif;
}

#filePath {
	border:none;
	font-size: 14px;
	line-height: 1.42857143;
	padding:5px 12px;
	background:#333;
	color:#ECECEC;
}
#passcode {
}
.btn-primary {
	background:#363636;
	border-color:#222;
	-webkit-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
-moz-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
-o-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0; 
}
.btn { outline:none!important; }
.btn-primary:hover,
.btn-primary:focus {
	background:#555;
	border-color:#8080FF;
}
#loader,
#patience {
	display:none;
}
#loader img {
	height:35px;
}
/* -------------------------------------------------------------------------- */
/* -----| RESPONSIVE |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

@media (max-width: 767px) {
	#filePath {
		display:none;
	}
	
    #page-top-nav {
        display: block !important;
    }

    .navbar-nav {
        float: left;
        margin: 0;
        padding-bottom: 0;
        padding-top: 0;
    }

    .navbar-nav > li {
        float: left;
    }

    .navbar-nav > li > a {
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .navbar-right {
        float: right !important;
    }

    #page-navbar .navbar-text {
        margin-left: 15px;
        margin-right: 15px;
        max-width: 75%;
    }

    .file-info-button {
        display: none !important;
    }

}
